.git
.gitignore
.idea
.vscode
.DS_Store

frontend/node_modules
frontend/dist
frontend/.turbo
frontend/.next
frontend/.cache

node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

bin
build
coverage
*.log

.env
