Port=8080
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=""
GOOSE_MIGRATION_DIR=./migrations

REDIS_URL="redis://redis:6379"

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
JWT_SECRET="your_random_secret_here"
RESEND_API_KEY=""
WORKER_COUNT=10
RESEND_EMAIL_FROM=""
FRONTEND_URL=""

